* {
    box-sizing:border-box;
}

body > ul {
    margin: 20px;
}

li {
    display: inline-block;
    margin-right: 30px;
    position: relative;


}

 body li:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 3px;
}

li:hover ul {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 3px;
}


li:hover a {
    color: black;
    text-decoration: none;
}

li li a {
    display: block;


}

li:hover li a {
    color: #0000FF;
}
li:hover li a:hover {
    color: #FFF;
    background-color: dodgerblue;
}

a:visited {
    color: #0000FF;
}



li ul {
    position: absolute;
    top: 17px;
    background:white;
    display: none;

}

li:hover ul {
    display: block;
}
