*{
    box-sizing: border-box;
    font-family: 'Tahoma';
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../assets/backgr-copy.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    font-weight: bold;
}
h2 {
    font-size: 1.8rem;
}

h1 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.4rem;
}

.pseudoH3 {
    font-size: 1.4rem;
    font-weight: bold;
}

p {
    font-size: 1.4rem;
}

header {
    margin-top: 50px;
    margin-bottom: 20px;
}

header .headerLogo{
    display: block;
    margin: 0 auto 60px;
    height: 52px;
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    margin-bottom: 20px;
    width: 740px;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;



}

nav li {
    list-style: none;

}

nav li a {
    color: #fff;
    padding-left: 25px;
    font-size: 1.6rem;
}

nav li:nth-of-type(1) a {
    background-image: url(../assets/1.png);
    background-repeat: no-repeat;
    background-position: left;
}
nav li:nth-of-type(2) a {
    background-image: url(../assets/2.png);
    background-repeat: no-repeat;
    background-position: left;
}
nav li:nth-of-type(3) a {
    background-image: url(../assets/3.png);
    background-repeat: no-repeat;
    background-position: left;
}
nav li:nth-of-type(4) a {
    background-image: url(../assets/4.png);
    background-repeat: no-repeat;
    background-position: left;
}
nav li:nth-of-type(5) a {
    background-image: url(../assets/5.png);
    background-repeat: no-repeat;
    background-position: left;
}

main {
    width: 740px;
    margin: 0 auto 100px;
    background-color: #fff;
    border-radius: 10px;
    color: #0e4d66;
    padding: 62px;
}

.about {
    display: flex;
}

main .imgContein {
    width: 184px;
    height: 194px;
    padding: 6px;
    border: 1px solid #114a64;
    border-radius: 5px;
    margin-right: 25px;
}

.table {
    font-size: 1.4rem;
    line-height: 2.8rem;
    width: 300px;
}
.table td {
    -display: inline-block;
}

.table td:first-child {
    font-weight: bold;

}


.footer .tellNumber {
    font-size: 2.4rem;
    color: #f2b01c;
}

.footer {
    display: flex;
    width: 740px;
    margin: auto;
    justify-content: space-between;
}

.footer span {
    color: #fff;
    font-size: 1.2rem;
}

.footer .lg {
   color: #fff;
}

.footer .lg div::before {
  content: url(../assets/lg.png);
}
