/* Global styles
-------------------------------
*/

html {
    font-size:62.5%;

}

body {
    font:1.2rem/1.8rem 'Open Sans';
}

img {

    display: block;
    width: 100%;
    max-width:100%;

}

.h2, h2 {
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.doubleColl > h2 {
    border-top: 1px dotted #bbb;
    padding: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
