
table {
    border-collapse: collapse;

}

td {
   border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 35px;
}

tr:nth-child(2n-1) td:nth-child(2n) {
    background-color: black;

}

tr:nth-child(2n) td:nth-child(2n-1) {
    background-color: black;

}

tr:first-of-type td:nth-child(n) {
    background-color: white;
    border: none;
    border-right: 1px solid black;
}

tr:nth-of-type(n) td:first-of-type {
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
}

tr:first-of-type td:last-child{
    border: none;
}

tr:last-child td:first-child {
    border-bottom: none;
}

tr:first-child td:first-child {
    border: none;
}


tr:nth-child(2n-1) td:nth-child(2n) span,
tr:nth-child(2n) td:nth-child(2n-1) span {
    display: none;
    color: red;
}

table tr:nth-child(2n-1) td:nth-child(2n):hover span,
table tr:nth-child(2n) td:nth-child(2n-1):hover span {
    display: inline;
}


